<h1>Edit</h1>

<% if flash[:error] %>
	<p>
		<%= flash[:error] %>
	</p>
	
<% end %>


<br>Start Time:<%= @timeentry.start_time %>
<br>Duration:<%= @timeentry.duration %>
<br>
<br><%= @timeentry.note %>


<%= form_for ([@timeentry.task, @timeentry]) do |f| %>

	<p>
		<%= f.submit 'Stop' %>
	</p>

	<p>
		<%= link_to 'Restart Timer', start_timer_path, method: :patch %>
	</p>
<% end %>