<h1>Tasks</h1>
	<p>
		<%= link_to 'New Task', new_task_path  %>
	</p>
<% if flash[:error] %>
	<p>
		<%= flash[:error] %>
	</p>
	
<% end %>




	<table>
		<tr>
			<th>Tasks</th>
			<th></th>
			<th></th>
			<th>Start Time</th>
			<th>Duration</th>

		</tr>
		<% @tasks.each do |task| %>
		<tr>
			<td><%= task.task_name %></td>
			<td><%= link_to 'Start', new_task_timeentry_path(task) %></td>
			<% task.timeentries.each do |te| %>
			<td><a href="/tasks/<%= task.id %>/timeentries/<%= te.id %>/edit">Stop Timer</a></td>
			<td><%= te.start_time %></td>
			<td><%= te.duration %></td>
			<% end %>
		</tr>
		<% end %>

	</table>

</p>

<p>
</p>