<h1>Tasks</h1>
<h2>Welcome <%= current_user.username %></h2>
<br><%= link_to 'Back', root_path %>


<% if flash[:error] %>

	<p>
		<%= flash[:error] %>
	</p>
	
<% end %>

	

<% 
=begin %>  <% 

	<p>
		<%= link_to 'New Task', new_task_path  %>
	</p>

<table>
		<tr>
			<th>Company</th>
			<th>Project</th>
			<th>Tasks</th>
			<th></th>
			<th>Total Time</th>
		</tr>
		<% @tasks.each do |task| %>
		<tr>
			<td><%= task.project.customer.company %></td>
			<td><%= task.project.project_name %></td>
			<td><%= task.task_name %></td>
			<td><%= link_to 'Start a Time Entry', new_task_timeentry_path(task) %></td>
			<td><%= Task.total(task, current_user) %></td>
		</tr>
		<% end %>
	</table>

<h3>Time Entries For <%= current_user.username %></h3>
	<table>
		<tr>
			<th>Task</th>
			<th>Stop Time</th>
			<th>Start Time</th>
			<th>Duration</th>
			<th>Notes</th>
		</tr>
		<% @tasks.each do |task| %>
			<% task.timeentries.each do |te| %>
		<tr>
		<% if te.user_id == current_user.id %>
			<td><%= task.task_name %></td>
			<td><a href="/tasks/<%= task.id %>/timeentries/<%= te.id %>/edit">Stop Timer</a></td>
			<td><%= te.start_time.strftime("%a, %b %d, %Y") %></td>
		<% if te.duration != nil %>
			<td><%= Time.at(te.duration).gmtime.strftime('%R:%S') %></td>
			<td><%= te.note %></td>
		<% end %>
		<% end %>
		</tr>
			<% end %>
		<% end %>
	</table>
 %>
<% 
=end %>


<p>
	<%= Time.now.strftime("%A, %B %e") %>
</p>

<p>
	<%= link_to 'New Task', new_task_path  %>
</p>

	<% @tasks.each do |t| %>
<table>
	<tr>
		<th><%= t.task_name %>(<%= t.project.project_name %>)</th>
		<th>Duration</th>
	</tr>
	<tr>
		<% if t.timeentry != nil %>
			
		<td><%= t.timeentry.note %></td>
		<td><%= t.timeentry.duration %></td>
		<% end %>
		<td><%= link_to 'Start', new_task_timeentry_path(t) %></td>
		<td><%= link_to 'Edit', [t,t.timeentry] %></td>
	</tr>
</table>
	<% end %>



