<h1>Tasks</h1>
<h2>Welcome <%= current_user.username %></h2>
<br><%= link_to 'Back', root_path %>


<% if flash[:error] %>

	<p>
		<%= flash[:error] %>
	</p>
	
<% end %>

<div class="cr_teshow"></div>
	
<p>
	<%= Time.now.strftime("%A, %B %e") %>
</p>

<p>
	<%= link_to 'New Task', new_task_path, id: "new_task_btn" %>
</p>

	<% @tasks.each do |t| %>
<table>
	<tr>
		<th><div class="task"> <%= t.task_name %>(<%= t.project.project_name %>)</div></th>
		<th>Duration</th>
	</tr>
	<tr>
		<% if t.timeentry != nil %>
			
		<td><div class="note1"><div class="note"> <%= t.timeentry.note %></div></div></td>
		<td><%= t.timeentry.duration %></td>

		<% else %>
		<td><div class="note1">note</div></td>
		<td>0</td>
		<% end %>
		
		<td><%= link_to 'Start', new_task_timeentry_path(t), id: "start_btn" %></td>
		<% if t.timeentry != nil %>
		<td><%= link_to 'Edit', edit_task_timeentry_path(task_id: t.id, id: t.timeentry.id), id: "edit_btn" %></td>

		<% end %>
	</tr>
</table>
	<% end %>

<h3><div class="total"> Total:<%= Task.total(current_user) %></div></h3>

